<div class='jumbotron'>
    <h1>Contact List</h1>
    <p>Gerencia seus Contatos em qualquer lugar!</p>
    <p>
        <%= link_to 'Crie sua Conta', '#', class: 'btn btn-primary btn-lg' %>
    </p>

</div>