<footer class="footer mt-auto py-3">
    <small>
        <%= link_to 'Contact List. Todos direitos reservados.', root_path%>
    </small>
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
       <%= link_to 'Sobre', sobre_path %>
      </li>
      <li >
        <%= link_to 'Contato', contato_path %>
      </li>
    </ul>
</footer>